use flake

if [[ -f .env.local ]]; then
    source .env.local
else
    echo "WARN: copy .env.example to .env.local and follow the instructions in the file"
fi

dotenv_if_exists .env

# Install hooks
CUSTOM_HOOK="devShells/scripts/git/pre-push"
GIT_HOOK=".git/hooks/pre-push"

# Install the pre-push hook if missing or different
if [ -f "$CUSTOM_HOOK" ]; then
    if [ ! -f "$GIT_HOOK" ] || ! cmp -s "$CUSTOM_HOOK" "$GIT_HOOK"; then
        echo "→ Installing/updating pre-push hook..."
        cp "$CUSTOM_HOOK" "$GIT_HOOK"
        chmod +x "$GIT_HOOK"
    fi
fi
